

.main {
    width: 100%;
    height: 10rem;
    background: rgb(21, 55, 87);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.logo {
    width: 30rem;
}

@media screen and (max-width: 768px) {
    .logo{

        width: 25rem;
    }
}

@media screen and (max-width: 420px) {
    .logo{
        width: 22rem;
    }
}

